* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	margin: 0 auto;
	min-width: 1000px;
	background-color: #efefef;
}

.box {
	width: 700px;
	margin: 0 auto;

}
.tap p {
	font-size: 38px;
	font-weight: 600;
	text-align: center;
	margin-top: 5%;
}

.tap a {
	position: relative;
	left: -25%;
	padding: 3px 2px;
	color: #FFFFFF;
	font-weight: 600;
	text-decoration: none;
	background-color: #05A19A;
	line-height: 41px;
	text-align: center;
	border: 1px solid #FFFFFF;
	border-radius: 6px;
}

.content {
 width: 100%;
 height: 480px;
 background-color: #8ea4f8;
}

.content dl{
 display: flex;
 justify-content: space-around;
}

.content dd {
 margin-top: 120px;
 border-radius: 5px;
 border: white 2px solid;
 box-shadow: rgba(0, 0, 0, 0.15) 0 6px 8px 0;
}

.content dd a {
 display: block;
 width: 216px;
 height: 58px;
 padding-top: 138px;
 font-size: 16px;
 color: #FFFFFF;
 text-align: center;
 text-decoration: none;
}

